body{
    background-color: lightblue;
    color: black;
}
.menu {
    list-style: none;
}

.menu li {
    display: inline-block;
}
footer p {
    text-align: center;
}
.birthday-help{
    background-color: red;
    color: white;
}

.flash-success{
    background-color: lime;
    color: whitesmoke;
}