body{
    background-color: lightblue;
    color: black;
}
.menu {
    list-style: none;
}

.menu li {
    display: inline-block;
}
footer p {
    text-align: center;
}
.birthday-help{
    background-color: black;
    color: white;
}

.flash-success{
    background-color: lime;
    color: whitesmoke;
}

nav{
    display: flex;
    justify-content: space-between;
}

/*.menu .right{*/
/*    margin-right: 1rem;*/
/*}*/
