{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Acceuil
{% endblock %}

{% block body %}
    <p>Bienvenue sur le site constitué avec Symfony</p>
    {{ render(controller('App\\Controller\\ArticleController::latest')) }}
{% endblock %}
