{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}


{% block header %}
<ul class="menu">
    <li><a href="{{ path('admin_users') }}">Liste des utilisateurs</a></li>
    <li><a href="{{ path('admin_liste_articles') }}">Liste des articles</a></li>
</ul>
{% endblock %}

{% block body %}

{% endblock %}
